.background1{
    background-color: white;
}

.background2{
    background-color: rgb(151, 151, 151);
}

@font-face {
    font-family: 'font1';
    src: url(Angelo\ Marker.ttf);
}

@font-face {
    font-family: 'font2';
    src: url(Friendly\ Schoolmates\ \(Regular\)\ Font\ by\ Situjuh\ \(7NTypes\).otf);
}

.two{
    font-family: 'font2';
}

.one
{
    font-family: 'font1';
}

.ukuran1{
    font-size: 100px;
}

.ireng{
    color: black;
}
